      <header>
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
        <div class="center"><a href="/"><img class="logo" src="/resources/unison-color-logo.svg"></a></div>
        <br/>
        <div class="center"><p>Next-generation programming platform, currently in development <a href="/about.html">(about)</a></p></div>
          <p class="center"><a href="https://twitter.com/unisonweb">Twitter</a></p>
          <p class="center"><a href="https://github.com/unisonweb/platform">GitHub</a></p> 
          <p class="center"><a href="/feed.xml">RSS</a></p>
        <br/>
        <div class="dots">
          <div class="center"><p>. . .</p></div>
        </div>
      </header>
