      <header>
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
        <div class="center"><a href="/"><img class="logo" src="/resources/unison-color-logo.svg"></a></div>
        <div class="center"><p>Next-generation programming platform, in development</p></div>
        <div class="center"><p>
          <a href="https://twitter.com/unisonweb">Twitter</a> •
          <a href="https://github.com/unisonweb">GitHub</a> • 
          <a href="/feed.xml">RSS</a>
        </p></div>
        <br/>
        <hr/>
      </header>
