      <header>
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
        <link rel="shortcut icon" href="/resources/favicon.png" />
        <div class="center"><a href="/"><img class="logo" src="/resources/unison-color-logo.svg"></a></div>
        <div class="center">
          <p>next-generation programming platform, currently in development <br/>
            <a href="/2015-05-07/about.html#post-start">about</a><br/>
            <a href="https://www.patreon.com/pchiusano">help fund the project</a>
          </p>
        </div>
        <p class="center dots">
          <a href="https://twitter.com/unisonweb">Twitter</a> . 
          <a href="https://github.com/unisonweb/platform">GitHub</a> .
          <a href="/feed.xml">RSS</a>
        </p>
        <br/>
        <div class="center" style="width:50px;"><img src="/resources/unison-icon-white.svg"></div>
      </header>
